.className {
    color: green;
    background: red;
  }
  
  .otherClassName {
    color: yellow;
  }
  .css_1{
      color: red;
  }
  .serif-font {
    font-family: Georgia, serif;
  }
  
  .display {
    font-size: 30px;
    line-height: 35px;
  }